body{
    background-color: white;
    margin: 0
    
}
#top-img{
    padding-top: 14px;
}

.topnav{
  display: flex;
  flex-direction: row;
  border-bottom: .0625rem solid rgba(33,37,44,.1);
}
.flex1{
    display: flex;
    flex-direction: row;
    margin: 0 172px;
    list-style: none;
  }
.left{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
  }

  .left li{
    height: 40px;
    padding-top: 24px;
   padding-left: 15px;
   padding-right: 15px;
    text-align: center;
    color: #999;
    font-size: .75rem;
    font-family: helvetica neue,arial,helvetica,freesans,liberation sans,numbus sans l,sans-serif;
    transition: background-color 0.1s;
  }

.left li:hover{
    background-color: rgb(248, 248, 245);
}  
.right{
    display: flex;
    flex-direction: row;
    margin-left: 427px;
    border-left: .0625rem solid rgba(33,37,44,.1);;
  }

.right li{
    height: 40px;
    padding-top: 24px;
   padding-left: 15px;
   padding-right: 15px;
    text-align: center;
    color: #999;
    font-size: .75rem;
    font-family: helvetica neue,arial,helvetica,freesans,liberation sans,numbus sans l,sans-serif;
}

.join{
    display: flex;
    padding-left: 30px;
}

.join li{
    color: blue;
}



.see{
    background-color: #385075;
    color: #fff;
    margin: 24px 192px;
    text-align: center;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    height: 40px; 
    transition: background-color 0.1s;
}
.see:hover{
    background-color: rgb(47, 46, 56);
}
#see1{
    padding-top: 9px;
}

.between{
    text-align: center;
    margin-top: 78px;
}

#anglelist{
    font-size: 33px;
    color: black;
    line-height: 1.25;
    font-family: helvetica neue,arial,helvetica,freesans,liberation sans,numbus sans l,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}

#world{
    font-family: Founders Grotesk,sans-serif;
    line-height: 1.2;
    font-weight: 800;
    font-size: 59px;
    margin-top: 15px;
}
#experience{
    font-size: 20px;
    font-family: helvetica neue,arial,helvetica,freesans,liberation sans,numbus sans l,sans-serif;
    margin-top: 15px;
    line-height: 1.8;
}

.block3{
    margin-top: 100px;
    margin-left: 191px;
}
.block3 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.list1{
    display: flex;
    flex-direction: row;
}

.imgs1{

    margin-left: 114px;
    margin-top: 20px;
}
.lists1{
    margin-left: 66px;
}

.talent{
    font-family: Founders Grotesk,sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.apply{
    color: #000;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    text-align: left;
}

.find1{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-color: #0f6fff;
   width: 206px;
   height: 60px;
   border-radius: 5px;
   color: white;
   font-weight: 600;
   text-align: center;
   line-height: 60px;
}
.find1:hover{
    background-color: #0557d1;
}

.find2{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-color: #4139a7;
   width: 206px;
   height: 60px;
   border-radius: 5px;
   color: white;
   font-weight: 600;
   text-align: center;
   line-height: 60px;
}
.find2:hover{
    background-color: #2f288d;
}

.find3{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-color: #cc4d29;
   width: 206px;
   height: 60px;
   border-radius: 5px;
   color: white;
   font-weight: 600;
   text-align: center;
   line-height: 60px;
}
.find3:hover{
    background-color: #aa3c1e;
}


#listtalent{
   list-style: none;
   margin-top: 145px;
   display: flex;
   flex-direction: row;
   margin-left: 191px;
}

.talk-directly{
    display: flex;
    flex-direction: row;
}

#last{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#sub-heading1{
    font-family: Founders Grotesk,sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 13px;
}

#sub-heading2{
    font-family: Founders Grotesk,sans-serif;
    font-size: 70px;
    line-height: 1.05;
    font-weight: 800;
    margin-bottom: 38px;
}

#para{
    font-family: helvetica neue,arial,helvetica,freesans,liberation sans,numbus sans l,sans-serif;
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.second-block{
    margin-left: 190px;
}

.talk-directly-head{
    font-family: Founders Grotesk,sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 550;
}

.second1{
    margin-left: 139px;
}

.talk-directly-body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

#find-startup{
    width: 201px;
    height: 52px;
    background-color: #0f6fff;
    color: white;
    font-family: Founders Grotesk,sans-serif;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    line-height: 52px;
    transition: background-color 0.2s;
    margin-right: 30px;
}

#find-startup:hover{
    background-color: #1661d1;
    
}
#post-job{
    color: #0f6fff;
    font-family: Founders Grotesk,sans-serif;
    margin-top: 20px;
}



.black{
    margin-top: 190px;
    background-color: black;
    color: white;
    height: 1039px;
    width: auto;
    list-style: none;
    padding-left: 191px;
}

#num{
    padding-top: 60px;
    font-size: 270px;
    position: relative;
    font-family: Founders Grotesk,sans-serif;
    line-height: 1.3;
    font-weight: 700;
    padding-left: 50px;
    
}

#of-the{
    font-size: 27px;
    line-height: 1.125;
    font-family: Founders Grotesk,sans-serif;
    padding-left: 99px;
}

.section1{
    display: flex;
    flex-direction: row;
    margin-top: 130px;
}

.find-candidate{
    font-size: 24px;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.high1{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.high-directly-head{
    font-family: Founders Grotesk,sans-serif;
    font-size: 20px;
    line-height: 1.4; 
    font-weight: 600; 
}

.high-directly-body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.high2{
    padding-left: 40px;
}

#bar{
    padding-left: 240px;
}

.last2{
    width: 205px;
    height: 56px;
    background-color: #0f6fff;
    text-align: center;
    line-height: 56px;
    border-radius: 5px;
    font-family: Founders Grotesk,sans-serif;
    transition: background-color 0.2s;
    margin-top: 30px;
}

.last2:hover{
    background-color: #125ed1;
}

.last3{
    width: 205px;
    height: 56px;
    background-color: #4139a7;
    text-align: center;
    line-height: 56px;
    border-radius: 5px;
    font-family: Founders Grotesk,sans-serif;
    transition: background-color 0.2s;
    margin-top: 30px;
}

.last2:hover{
    background-color: #125ed1;
}


.end{
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: black;
    color: white;
    margin-top: 120px;
    padding-left: 191px;
    padding-bottom: 50px;
}

#had1{
    font-family: Founders Grotesk,sans-serif;
    padding-top: 40px;
    margin-bottom: 30px;
    margin-right: 130px;
    font-size: 20px;
    font-weight: 600;
}

.in1{
    font-family: Founders Grotesk,sans-serif;
    padding-bottom: 6px;
    font-size: 15px;
}

.final{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    list-style: none;
    padding-left: 191px;
    padding-bottom: 40px;
    padding-top: 90px;
}

.final li{
    padding-right: 30px;
    font-family: Founders Grotesk,sans-serif;
    font-size: 13px;
}


